<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ficus-dictionary-project</display-name>

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <!-- Enable escaping of form submission contents -->
    <context-param>
        <param-name>defaultHtmlEscape</param-name>
        <param-value>true</param-value>
    </context-param>    
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <!-- Spring profile parameters
             First profile: jpa - JPA implementation
                            mybatis - MyBatis implementation
             Second profile: mysql - MySQL DB
                             h2 - H2 database
        -->
        <param-value>jpa,mysql</param-value>
    </context-param>  
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/dictionary/root-context.xml
            /WEB-INF/dictionary/datasource.xml
            /WEB-INF/dictionary/jpa-tx-config.xml
            /WEB-INF/dictionary/jpa-service-context.xml
        </param-value>    
	</context-param> 
    
    <!-- Spring Security Configuration -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>    
    
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    
    <filter>
        <filter-name>HttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    
    <!-- Spring MVC Dispatcher Servlet for SpringBlog application -->
    <servlet>
        <servlet-name>dictionaryAppServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/dictionary/dictionary-webmvc-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>     
    </servlet>
    
    <servlet-mapping>
        <servlet-name>dictionaryAppServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>    
    
</web-app>
